#invoices {
    background-color: #dee1e3;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 50px;
}

td {
    text-align: center;
    border-bottom: 1px solid #dee1e3;
    height: 40px;
    color: #6a6d6f;
}

th {
    background-color: #dee1e3;
    height: 40px;
    color: #656769;
}

.wrapper {
    margin: 0 auto;
    padding: 15px;
    background-color: #fff;
    width: 1200px;
}

table {
    padding: 15px;
    width: 1150px;
    border-collapse: collapse;
    margin: 0 15px;
    border-radius: 4px;
    overflow: hidden;
}

.name {
    margin-bottom: 5px;
    margin-left: 15px;
}

.section {
    margin-bottom: 30px;
}

.btn {
    border-radius: 5px;
    border: none;
    width: 90px;
    height: 30px;
    background-color: #0089ff;
    color: #fff;
    font-weight: 900;
    margin-left: 15px;
    cursor: pointer;
}